body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.axis line,
.axis path {
    stroke: black;
}
.axis text {
    fill: black;
    font-size: 12px;
}
.bar {
    fill: steelblue;
}
